<div class="Xbox360-games-section">
  <h2>Xbox 360 - Melhores Jogos</h2>
  <div class="Xbox360-games-container">
    <button class="arrow-button" (click)="previousGame()">&#8249;</button>
    <div class="game-list">
      <div *ngFor="let game of visibleXbox360Games" (click)="goToGameDetails(game.id)" class="game-item">
        <img class="game-img" [src]="game.cover.url" alt="{{ game.name }}" />
      </div>
    </div>
    <button class="arrow-button" (click)="nextGame()">&#8250;</button>
  </div>
</div>