.img-wl{
    border: solid 2px #00ffff;
    border-radius: 5px;
}

.voltar{
    margin-left: 2%;
  }

.toolbar-wl{
    --background: repeating-linear-gradient(0deg, transparent 6.5%, #002525 7%, #002525 9%, transparent 10%), linear-gradient(45deg, transparent 49%, #008B8b 49%, #008B8b 51%, transparent 51%), linear-gradient(-45deg, transparent 49%, #008B8b 49%, #008B8b 51%, transparent 51%);
    --background-size: 6em 6em;
    color: #00ffff;
    font-family: "Libre Baskerville", serif;
}

.wish-bg{
    --background: linear-gradient(135deg, #00343480 50%, transparent 0),linear-gradient(-135deg, #00343480 50%, transparent 0);
    --background-size: 6em 6em;
    --opacity: 1
}