<ion-content>
    <main>  
      <div class="geral">
        <ion-button (click)="dismiss()" class="close-button" fill="clear" size="small">
        <ion-icon name="close"></ion-icon>
      </ion-button>
      <h1>Sobre</h1></div>
        <section class="sobre">
            <h2>Turma:</h2>
            <h2>PAS23103 | BS | M | ADS0301M</h2>
            <h3>Membros:</h3>
            <div class="membros">
                <div class="membro">
                    <h1>Gabriel Corrêa "bieuuh"</h1>
                    <img class="imgform" src="assets/img/gabriel.png">
                </div>
                <div class="membro">
                    <h1>Wanderson Araújo "cmwand"</h1>
                    <img class="imgform" src="assets/img/wandershow.png">
                </div>
                <div class="membro">
                    <h1>Thiago Rodrigues "thiagordl23"</h1>
                    <img class="imgform" src="assets/img/thiago.png">
                </div>
            </div>
        </section>
    </main>
  </ion-content>