<ion-content>
    <main>
      <div class="geral">
      <h1>Sobre os Desenvolvedores</h1></div>
        <section class="sobre">
            <h2>Nossa Equipe</h2>
            <p>PAS23103|BS|M|ADS0301M</p>
            <h3>Conheça os Membros</h3>
            <div class="membros">
                <div class="membro">
                    <h1>Gabriel Corrêa "bieuuh"</h1>
                    <p>22202653</p>
                    <img class="imgform" src="assets/img/gabriel.png">
                </div>
                <div class="membro">
                    <h1>Wanderson Araújo "cmwand"</h1>
                    <p>22204445</p>
                    <img class="imgform" src="assets/img/wandershow.png">
                </div>
                <div class="membro">
                    <h1>Thiago Rodrigues "n sei ainda"</h1>
                    <p>n sei ainda</p>
                    <img class="imgform" src="assets/img/thiago.png">
                </div>
            </div>
        </section>
    </main>
  </ion-content>