<ion-content>
  <div class="image-container" *ngIf="images.length > 0">
    <img [src]="images[currentIndex].src" [ngClass]="{'fade-in': fadeState === 'in', 'fade-out': fadeState === 'out'}" class="background-image" />
    <div class="credits">{{ images[currentIndex].credits }}</div>
  </div>

  <img src="assets/img/logoindex.png" class="logo">
  
  <button class="start-button" (click)="openLoginModal()">Start</button>

  <button class="botao-biel" [routerLink]="['/config']">config</button>
  <button class="botao-home" [routerLink]="['/home']">home</button>


  <button class="about-button" (click)="openAboutModal()">
    <img src="assets/img/interrogas.png" class="about-img">
  </button>
</ion-content>
