* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  ion-content {
    position: relative;
    overflow: hidden;
    height: 100vh;
  }
  
  .image-container {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: opacity 1s ease;
    opacity: 0;
  }
  
  .fade-in {
    opacity: 1;
  }
  
  .fade-out {
    opacity: 0;
  }
  
  .logo {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 150px;
    z-index: 1;
  }
  
  .start-button {
   font-family: "Libre Baskerville", serif;
   position: absolute;
   bottom: 60px;
   left: 50%;
   transform: translateX(-50%);
   padding: 10px 20px;
   font-size: 16px;
   background: linear-gradient(#002525, #008b8b);
   color: #00ffff;
   border: 1px solid #00ffff;
   border-radius: 5px;
   cursor: pointer;
   z-index: 2;
  }
  

  .credits {
    position: absolute;
    font-size: 0.55rem;
    font-family: Helvetica, sans-serif;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    text-align: center;
    z-index: 1;
  }
  
  .login-modal {
    --width: 80%;
    --height: 80%;
    top: 10%;
    --background: transparent;
    backdrop-filter: none;
    box-shadow: none; 
    border-radius: 10px;
    overflow: hidden;
  }

  .login-modal .modal-wrapper {
    background: transparent;
    box-shadow: none;
  }

.about-img{
  position: absolute;
  z-index: 2;
  width: 20px;
  height: 20px;
  bottom: 21px;
  left: 1%;
  background: linear-gradient(#002525, #008b8b);
  border-radius: 50px;
}

.about-modal {
  --background: transparent;
  --width: 80%;
  --height: 80%;
}

.botao-biel {
  font-family: "Libre Baskerville", serif;
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px 20px;
  font-size: 16px;
  background: linear-gradient(#002525, #008b8b);
  color: #00ffff;
  border: 1px solid #00ffff;
  border-radius: 5px;
  cursor: pointer;
  z-index: 2;
 }