<div class="Switch-games-section">
  <h2>Switch - Melhores Jogos</h2>
  <div class="Switch-games-container">
    <button class="arrow-button" (click)="previousGame()">&#8249;</button>
    <div class="game-list">
      <div *ngFor="let game of visibleSwitchGames" (click)="goToGameDetails(game.id)" class="game-item">
        <img class="game-img" [src]="game.cover.url" alt="{{ game.name }}" />
        <!--<p>{{ game.name }}</p>-->
      </div>
    </div>
    <button class="arrow-button" (click)="nextGame()">&#8250;</button>
  </div>
</div>