<ion-content>
  <div class="login-container">
    <ion-button (click)="closeModal()" class="close-button" fill="clear" size="small">
      <ion-icon name="close"></ion-icon>
    </ion-button>
    <!--marcelo ribas-->
    <h2>Login</h2>
    
    <ion-item>
      <div class="login">
        <ion-label position="floating">Usuário</ion-label>
        <ion-input type="text"></ion-input>
      </div>
    </ion-item>
    
    <ion-item>
      <div class="senha">
        <ion-label position="floating">Senha</ion-label>
        <ion-input type="password"></ion-input>
      </div>
    </ion-item>
    <br>
    <div class="entrar">
      <ion-button expand="block" fill="clear" size="small">Entrar</ion-button>
    </div>
    
    <ion-text color="medium" class="forgot-password">Esqueceu sua senha?</ion-text>
    <ion-button expand="block" fill="clear" size="small" (click)="openSignupModal()">Cadastre-se</ion-button>
  </div>
</ion-content>
