<body>
  <ion-content>
    <button class="voltar">
        <ion-icon name="arrow-back-outline" [routerLink]="['/home']"></ion-icon>
    </button>

    <ion-card *ngIf="game" class="card-game">
      <img class="img-game" *ngIf="game?.screenshots?.length" [src]="game.screenshots[0].url" />
      
      <ion-card-header>


        <div class="info-game">
          <div class="image-text-container">
            <img class="img-shown" *ngIf="game.cover?.url" [src]="game.cover.url" />
            <div class="game-details"> 
              <div class="type-game">
                <b>Tipo:</b> 
                <span [innerHTML]="getCategoryName(game.category, game.parent_game?.name, game.parent_game?.id)"></span>
              <p *ngIf="game.first_release_date">Lançamento: {{ game.first_release_date * 1000 | date: 'dd/MM/yyyy' }}</p>
              <p *ngIf="game?.involved_companies?.length">Desenvolvedora: {{ game.involved_companies[0].company.name }}</p>
                     
             
              </div>
            </div>
          </div>
        </div> 
      </ion-card-header>
      <br>
      <ion-card-title class="ion-gamename">{{ game.name }}</ion-card-title>
      <ion-card-content class="summary-game">
        <b>{{ game.summary }}</b><br>
        <br><p>Plataforma(s): {{ getPlatformNames() }}</p>
        <br>
        <p>Gênero(s): {{ getGenreNames() }}</p> 
      </ion-card-content>
      
    </ion-card>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button>
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
      <ion-fab-list side="top">
        <ion-fab-button (click)="toggleWishlist()">
          <ion-icon [name]="isInWishlist ? 'time' : 'time-outline'"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="toggleMyGames()">
          <ion-icon [name]="isInMyGames ? 'close' : 'checkmark'"></ion-icon>
        </ion-fab-button>
      </ion-fab-list>
    </ion-fab>
    
  </ion-content>
</body>
