<ion-content class="xbox">
  <div class="button-container">
    <button expand="block" class="botao_xb" [class.selected]="selectedButtons.includes(8)" (click)="toggleSelection(8)">
      <span>
        <b>Xbox (Clássico)</b>
      </span>
      <img src="assets/img/config/xb/xbox.png" class="icon_xb"/>
    </button>
    <br>
    <button expand="block" class="botao_xb" [class.selected]="selectedButtons.includes(9)" (click)="toggleSelection(9)">
      <span>
        <b>Xbox 360</b>
      </span>
      <img src="assets/img/config/xb/xbox360.png" class="icon_xb"/>
    </button>
    <br>
    <button expand="block" class="botao_xb" [class.selected]="selectedButtons.includes(10)" (click)="toggleSelection(11)">
      <span>
        <b>Xbox One</b>
      </span>
      <img src="assets/img/config/xb/xboxone.png" class="icon_xb"/>
    </button>
    <br>
    <button expand="block" class="botao_xb" [class.selected]="selectedButtons.includes(12)" (click)="toggleSelection(12)">
      <span>
        <b>Xbox Series X/S</b>
      </span>
      <img src="assets/img/config/xb/xboxsx.png" class="icon_xb"/>
    </button>
    <br>
  </div>
  <button class="botbotao_xb" (click)="saveSelections()">AVANÇAR</button>
</ion-content>