.xbox{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100%;
  background: linear-gradient(#004000, #107C10);
  border: 2px solid #00ffff;
  font-family: "Libre Baskerville", serif;
  color: #00ffff;
  background: repeating-linear-gradient(0deg, transparent 6.5%, #004000 7%, #004000 9%, transparent 10%), linear-gradient(45deg, transparent 49%, #0b620b 49%, #0b620b 51%, transparent 51%), linear-gradient(-45deg, transparent 49%, #0b620b 49%, #0b620b 51%, transparent 51%);
  background-size: 6em 6em;
  background-color: #004000;
  opacity: 1
}

ion-content {
--background: none;
height: 100%;
}

.button-container {
  display: flex;
  gap: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
  flex-direction: column;
}

.botao_xb {
 align-items: center;
  border: 1px solid #004000;
  border-radius: 5px;
  color: #004000;
  padding: 24px 24px;
  font-size: 16px;
  display: flex;
  background: radial-gradient(circle at top,transparent 9%, #0b620b 10% ,#0b620b 15% , transparent 16%), radial-gradient(circle at bottom,transparent 19%, #0b620b 20% ,#0b620b 25% , transparent 26%), radial-gradient(circle at right,transparent 19%, #0b620b 20% ,#0b620b 25% , transparent 26%), radial-gradient(circle at left,transparent 9%, #0b620b 10% ,#0b620b 15% , transparent 16%);
  background-size: 1em 1em;
  background-color: #107C10;
  opacity: 1
}

.botao_xb span {
  flex-grow: 1;
  text-align: left;
  padding-right: 5%;
  padding-bottom: 5%;
}

.icon_xb {
  width: 50%;
  height: 50%;
  border: 2px solid #004000;
  border-radius: 5px;
  justify-content: center;
  background: linear-gradient(#004000, #107C10);
}

.botao_xb.selected {
  border: 1px solid #00ffff;
  border-radius: 5px;
  color: #00ffff;
  .icon_xb {
    border: 2px solid #00ffff;
    border-radius: 5px;
  }
}

.botbotao_xb {
  font-family: "Libre Baskerville", serif;
  bottom: 35px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  width: 100%;
  bottom: 10px;
  align-content: center;
  position:relative;
  padding: 10px 20px;
  font-size: 16px;
  background: linear-gradient(#002525, #008b8b);
  color: #00ffff;
  border: 2px solid #00ffff;
  border-radius: 5px;
  cursor: pointer;
 }