<ion-content class="ps">
  <div class="button-container">
    <p class="p-warn-config">Lembre-se de ir até o final desta página para salvar sua escolha!</p>
    <button expand="block" class="botao_ps" [class.selected]="selectedButtons.includes(1)" (click)="toggleSelection(1)">
      <span>
        <b>PS1</b>
      </span>
      <img src="assets/img/config/ps/ps1.png" class="icon_ps"/>
    </button>
    <br>
    <button expand="block" class="botao_ps" [class.selected]="selectedButtons.includes(2)" (click)="toggleSelection(2)">
      <span>
        <b>PS2</b>
      </span>
      <img src="assets/img/config/ps/ps2.png" class="icon_ps"/>
    </button>
    <br>
    <button expand="block" class="botao_ps" [class.selected]="selectedButtons.includes(3)" (click)="toggleSelection(3)">
      <span>
        <b>PS3</b>
      </span>
      <img src="assets/img/config/ps/ps3.png" class="icon_ps"/>
    </button>
    <br>
    <button expand="block" class="botao_ps" [class.selected]="selectedButtons.includes(4)" (click)="toggleSelection(4)">
      <span>
        <b>PSP</b>
      </span>
      <img src="assets/img/config/ps/HANDHELDpsp.png" class="icon_ps"/>
    </button>
    <br>
    <button expand="block" class="botao_ps" [class.selected]="selectedButtons.includes(5)" (click)="toggleSelection(5)">
      <span>
        <b>PS VITA</b>
      </span>
      <img src="assets/img/config/ps/HANDHELDpsvita.png" class="icon_ps"/>
    </button>
    <br>
    <button expand="block" class="botao_ps" [class.selected]="selectedButtons.includes(6)" (click)="toggleSelection(6)">
      <span>
        <b>PS4</b>
      </span>
      <img src="assets/img/config/ps/ps4.png" class="icon_ps"/>
    </button>
    <br>
    <button expand="block" class="botao_ps" [class.selected]="selectedButtons.includes(7)" (click)="toggleSelection(7)">
      <span>
        <b>PS5</b>
      </span>
      <img src="assets/img/config/ps/ps5.png" class="icon_ps"/>
    </button>
    <br>
  </div>   
<button class="botbotao_ps" (click)="saveSelections()">AVANÇAR</button>
</ion-content>