.nintendo{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  height: 100%;
  background: linear-gradient(#2b0b0d, #f63b4b);
  border: 2px solid #00ffff;
  font-family: "Libre Baskerville", serif;
  color: #00ffff;
  background: repeating-linear-gradient(0deg, transparent 6.5%, #2b0b0d 7%, #2b0b0d 9%, transparent 10%), linear-gradient(45deg, transparent 49%, #691a21 49%, #691a21 51%, transparent 51%), linear-gradient(-45deg, transparent 49%, #691a21 49%, #691a21 51%, transparent 51%);
  background-size: 6em 6em;
  background-color: #2b0b0d;
  opacity: 1
}

ion-content {
--background: none;
height: 100%;
}

.button-container {
  display: flex;
  gap: 20px;
  margin-top: 50px;
  margin-bottom: 50px; 
}

.botao_nt {
 align-items: center;
  border: 1px solid #2b0b0d;
  border-radius: 5px;
  color: #cc9999;
  padding: 24px 24px;
  font-size: 16px;
  display: flex;
  background: radial-gradient(circle at top,transparent 9%, #691a21 10% ,#691a21 15% , transparent 16%), radial-gradient(circle at bottom,transparent 19%, #691a21 20% ,#691a21 25% , transparent 26%), radial-gradient(circle at right,transparent 19%, #691a21 20% ,#691a21 25% , transparent 26%), radial-gradient(circle at left,transparent 9%, #691a21 10% ,#691a21 15% , transparent 16%);
  background-size: 1em 1em;
  background-color: #92242d;
  opacity: 1
}

.botao_nt span {
  flex-grow: 1;
  text-align: left;
  padding-right: 5%;
  padding-bottom: 5%;
}

.icon_nt {
  width: 50%;
  height: 50%;
  border: 2px solid #2b0b0d;
  border-radius: 5px;
  justify-content: center;
  background: linear-gradient(#2b0b0d, #92242d);
}

.botao_nt.selected {
  border: 1px solid #00ffff;
  border-radius: 5px;
  color: #00ffff;
  .icon_nt {
    border: 2px solid #00ffff;
    border-radius: 5px;
  }
}

.botbotao_nt {
  font-family: "Libre Baskerville", serif;
  bottom: 35px;
  left: 27.5%;
  justify-content: center;
  align-content: center;
  position:relative;
  padding: 10px 20px;
  font-size: 16px;
  background: linear-gradient(#002525, #008b8b);
  color: #00ffff;
  border: 2px solid #00ffff;
  border-radius: 5px;
  cursor: pointer;
 }