<ion-content>
  <div class="cadastro-container">
    <ion-button (click)="closeModal()" class="close-button" fill="clear" size="small">
      <ion-icon name="close"></ion-icon>
    </ion-button>
    
    <h2>Cadastro</h2>
    
    <ion-item>
      <ion-label position="floating">Usuário</ion-label>
      <ion-input type="text" [(ngModel)]="username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">E-Mail</ion-label>
      <ion-input type="email" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Senha</ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    
    <ion-item>
      <ion-label position="floating">Confirme sua senha</ion-label>
      <ion-input type="password" [(ngModel)]="confirmPassword"></ion-input>
    </ion-item>
    <br>
    <ion-button expand="block" fill="clear" size="small" (click)="signup()">Criar</ion-button>
  
  </div>
</ion-content>
