<body>
  <ion-content>
    <ion-toolbar class="toolbar-pf">
      <ion-icon name="arrow-back-outline" class="back-icon" size="small" [routerLink]="['/home']"></ion-icon>
    </ion-toolbar>
    <div class="foto">
      <img src="assets/img/logoindex.png">
    </div>
    <div class="nome">
       <h1>Bem vindo ao seu perfil, {{ username }}! Selecione um ícone!</h1>
    </div>

  <div class="image-gallery">
    <div *ngFor="let image of imageList" class="image-option" (click)="selectImage(image)">
      <img [src]="image" class="image-thumbnail">
    </div>
  </div>

  <div class="selected-image">
    <img [src]="selectedImage" class="img-pfp">
  </div>
  <div class="button-container-pfp">
    <button class="perfil_jz" [routerLink]="['/games-beaten']">Meus jogos</button>
    <button class="perfil_ld" [routerLink]="['/wishlist']">Lista de desejos</button>
  </div>  
</ion-content>
</body>