ion-content{
    --background: linear-gradient(#000000, #002525);
}

.foto, .nome{
    margin-left: 8%;
    color: #00ffff;
}

.nome{
    border-bottom: 2px solid #00ffff;
    margin-right: 11%;
}

.perfil_jz{
    font-family: "Libre Baskerville", serif;
    position: relative;
    align-content: center;
    display: flex;
    left: 32%;
    padding: 10px 20px;
    font-size: 16px;
    background: linear-gradient(#002525, #008b8b);
    color: #00ffff;
    border: 1px solid #00ffff;
    border-radius: 5px;
    cursor: pointer;
}

.perfil_ld{
    font-family: "Libre Baskerville", serif;
    position: relative;
    align-content: center;
    display: flex;
    left: 30%;
    padding: 10px 20px;
    font-size: 16px;
    background: linear-gradient(#002525, #008b8b);
    color: #00ffff;
    border: 1px solid #00ffff;
    border-radius: 5px;
    cursor: pointer;
}

.h1_jz{
    margin-top: 15%;
    align-content: center;
    color: #00ffff;    
}

.h1_ld{
    margin-top: 30%;
    color: #00ffff;
}

.img-pfp{
    position: relative;
    display: flex;
    left: 31%;
    width: 100px;
    height: 100px;
}

.div_box{
    border: 1px solid #00ffff;
    border-radius: 10px;
}