<body>
  <ion-content>
    <ion-icon name="arrow-back-outline" class="back-icon" size="small" [routerLink]="['/home']"></ion-icon>
    <div class="foto">
      <img class="img-pfp" src="assets/img/logoindex.png">
    </div>
    <div class="nome">
       <h1>Bem vindo ao seu perfil, {{ username }}!</h1>
    </div>
      <h1 class="h1_jz">Últimos adicionados:</h1>
      <button class="perfil_jz" [routerLink]="['/games-beaten']">Meus jogos</button>
      <h1 class="h1_ld">Últimos adicionados:</h1>     
      <button class="perfil_ld" [routerLink]="['/wishlist']" >Lista de desejos</button>
</ion-content>
</body>