* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.back-icon{
    margin-left: 2%;
  }

.toolbar-config{
    --background: repeating-linear-gradient(0deg, transparent 6.5%, #002525 7%, #002525 9%, transparent 10%), linear-gradient(45deg, transparent 49%, #008B8b 49%, #008B8b 51%, transparent 51%), linear-gradient(-45deg, transparent 49%, #008B8b 49%, #008B8b 51%, transparent 51%);
    --background-size: 6em 6em;
}

.body_config {
    background: repeating-linear-gradient(0deg, transparent 6.5%, #002525 7%, #002525 9%, transparent 10%), linear-gradient(45deg, transparent 49%, #008B8b 49%, #008B8b 51%, transparent 51%), linear-gradient(-45deg, transparent 49%, #008B8b 49%, #008B8b 51%, transparent 51%);
    background-size: 6em 6em;
    background-color: #002525;
    opacity: 1
}

.img-grid{
    display: flex;
    flex-direction: column; 
}

.img-consoles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.img-mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.img-logos{
    height:95px;
    width:95px;
    margin: 10%;
    border-radius:10px;
    border:0.5px solid #00ffff;
}

.text{
    color: #00ffff;
    text-align: center;
    align-content: center;
    margin-top: 5%;    
    font-family: "Libre Baskerville", serif;
    background: linear-gradient(#002525, #008b8b);
    border: 0.5px solid #00ffff;
    border-radius: 5px;
    left: 10%;
    right: 10%;
}

.botao-footer-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    bottom: 10px;
}

.botao-footer{
    font-family: "Libre Baskerville", serif;
    position: relative;
    padding: 10px 20px;
    font-size: 16px;
    background: linear-gradient(#002525, #008b8b);
    color: #00ffff;
    border: 1px solid #00ffff;
    border-radius: 5px;
    cursor: pointer;
}
   .config-ps-modal {
    --background: transparent;
    --width: 80%;
    --height: 80%;
  }

  .selected {
    border: 4px solid #008b8b;
    border-radius: 5px;
}