* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.back-icon{
    margin-left: 2%;
  }

.toolbar-config{
    --background: repeating-linear-gradient(0deg, transparent 6.5%, #002525 7%, #002525 9%, transparent 10%), linear-gradient(45deg, transparent 49%, #008B8b 49%, #008B8b 51%, transparent 51%), linear-gradient(-45deg, transparent 49%, #008B8b 49%, #008B8b 51%, transparent 51%);
    --background-size: 6em 6em;
}

.body_config {
    background: repeating-linear-gradient(0deg, transparent 6.5%, #002525 7%, #002525 9%, transparent 10%), linear-gradient(45deg, transparent 49%, #008B8b 49%, #008B8b 51%, transparent 51%), linear-gradient(-45deg, transparent 49%, #008B8b 49%, #008B8b 51%, transparent 51%);
    background-size: 6em 6em;
    background-color: #002525;
    opacity: 1
}

/*.bg_img img{
    width: 100%;
    height: 100%;
    position: absolute;
    display: flexbox;
    opacity: 0.7;
    z-index: -1;
}*/

.img-grid{
    display: flex;
    flex-direction: column; 
}

.img-consoles{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.img-mobile{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.img-logos{
    height:95px;
    width:95px;
    margin: 10%;
    border-radius:10px;
    border:0.5px solid #00ffff;
}

/*.image1{
height:95px;
width:95px;
border-radius:10px;
border:0.5px solid #00ffff;
margin-left:10%;
top: 132px;
position: absolute;
}

.image2{
height:95px;
width:95px;
border-radius:10px;
border:0.5px solid #00ffff;
margin-left:64.3%;
top: 132px;
position: absolute;
}

.image3{
height:95px;
width:95px;
border-radius:10px;
border:0.5px solid #00ffff;
margin-left:10%;
top: 302px;
position: absolute;
}

.image4{
height:95px;
width:95px;
border-radius:10px;
border:0.5px solid #00ffff;
margin-left:64.3%;
top: 302px;
position: absolute;
}

.image5{
    height:95px;
    width:95px;
    border-radius:10px;
    border:0.5px solid #00ffff;
    left: 37.5%;
    top: 65%;
    position: absolute;
}*/

.text{
    color: #00ffff;
    text-align: center;
    align-content: center;
    margin-top: 5%;    
    font-family: "Libre Baskerville", serif;
    background: linear-gradient(#002525, #008b8b);
    border: 0.5px solid #00ffff;
    border-radius: 5px;
    left: 10%;
    right: 10%;
}

.botao-footer-grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    bottom: 10px;
}

.botao-footer{
    font-family: "Libre Baskerville", serif;
    position: relative;
    //bottom: 10px;
    //transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 16px;
    background: linear-gradient(#002525, #008b8b);
    color: #00ffff;
    border: 1px solid #00ffff;
    border-radius: 5px;
    cursor: pointer;
}

/*.save-botao {
    font-family: "Libre Baskerville", serif;
    position: absolute;
    bottom: 10px;
    left: 25%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 16px;
    background: linear-gradient(#002525, #008b8b);
    color: #00ffff;
    border: 1px solid #00ffff;
    border-radius: 5px;
    cursor: pointer;
   }

   .clear-botao {
    font-family: "Libre Baskerville", serif;
    position: absolute;
    bottom: 10px;
    right: -5%;
    transform: translateX(-50%);
    padding: 10px 20px;
    font-size: 16px;
    background: linear-gradient(#002525, #008b8b);
    color: #00ffff;
    border: 1px solid #00ffff;
    border-radius: 5px;
    cursor: pointer;
   }*/

   .config-ps-modal {
    --background: transparent;
    --width: 80%;
    --height: 80%;
  }

  .selected {
    border: 5px solid #008b8b;
    border-radius: 4px;
}