<ion-content>
<h1>Bem vindo, usuário!</h1>


<img src="assets/img/config_bg.png" class="bg">
<img src="assets/img/config/ps.png" class="image1">
<img src="assets/img/config/xbox.png" class="image2">
<img src="assets/img/config/nintendo.png" class="image3">
<img src="assets/img/config/PC.png" class="image4">

<ion-text>
    <p>Como é seu primeiro login, precisaremos configurar algumas coisas para melhorar sua experiência.<p>
    <h3>Selecione as plataformas que gostaria de adicionar ao seu perfil:</h3>

</ion-text>
</ion-content>

