ion-searchbar{
    --background: linear-gradient(#002525, #008b8b);
    --color: #00ffff;
    --border: 2px;
    --opacity: 0.5;
    --ion-text-color-step-400: #00ffff;

}

.search-box{
    --background: repeating-linear-gradient(0deg, transparent 6.5%, #002525 7%, #002525 9%, transparent 10%), linear-gradient(45deg, transparent 49%, #008B8b 49%, #008B8b 51%, transparent 51%), linear-gradient(-45deg, transparent 49%, #008B8b 49%, #008B8b 51%, transparent 51%);
    --background-size: 6em 6em;
}

.games{
    --background: #002525;
}
.games-list{
    --ion-item-background: none;
}

body {
    background: var(--ion-background-color);
    --ion-background-color: #00ffff;
}

ion-menu-button, ion-icon {
    --font-size: 24px;
    --color: #00ffff;
}

.icon-inner, .ionicon, svg {
    display: block;
}
