<ion-header>
  <ion-toolbar class="search-box">
    <ion-icon name="arrow-back-outline" [routerLink]="['/home']"></ion-icon>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar [(ngModel)]="searchQuery" (ionInput)="searchGames()"></ion-searchbar>
  <ion-list class="games-list">
    <ion-item class="games" *ngFor="let game of games" (click)="goToGameDetails(game.id)">
      <ion-thumbnail slot="start">
        <img *ngIf="game.cover?.url" [src]="game.cover.url" alt="Capa do Jogo" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ game.name }}</h2>
        <p *ngIf="game.first_release_date">{{ game.first_release_date * 1000 | date: 'yyyy' }}</p>
      </ion-label>
    </ion-item>
  </ion-list>  
</ion-content>
