<ion-menu contentId="main-content" size="small">
  <ion-header>
    <ion-toolbar class="toolbar">
      <ion-title class="tool-title">Bem vindo (a)!</ion-title>

    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <div>     
      <img [src]="profileImage" alt="Imagem de Perfil" class="profile-image"/>
      <ion-text class="username-pfp">{{ username }}</ion-text>
    </div>
    <div class="sidemenu">
    <br> 
    <button [routerLink]="['/profile']">
      <ion-icon class="profile" name="person-outline"></ion-icon><ion-text>Perfil</ion-text>
    </button>
    <br>
    <button [routerLink]="['/wishlist']">
      <ion-icon class="wishlist" name="time-outline"></ion-icon><ion-text>Lista de desejos</ion-text> 
    </button>
    <br>
    <button [routerLink]="['/search']">
      <ion-icon class="search-menu" name="search-outline" ></ion-icon><ion-text>Busca</ion-text>
    </button>
    <br>
    <button [routerLink]="['/config']">
      <ion-icon class="settings" name="settings-outline"></ion-icon><ion-text>Customizar Home</ion-text>
    </button>
    <br>
    
    <!--<button (click)="logout()">
      <ion-icon class="endsession" name="log-out-outline"></ion-icon><ion-text>Encerrar sessão</ion-text>
    </button>-->
    <button class="about-button" (click)="openAboutModal()">
      <img src="assets/img/interrogas.png" class="about-img">
    </button></div>
    <div class="credits"> 
      Powered By:
    <img class="igdb" src="assets/img/igdb.png"></div>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar class="toolbar">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-icon class="search" name="search-outline" size="small" [routerLink]="['/search']"></ion-icon>
    </ion-toolbar>
  </ion-header>

  <ion-content class="content-home">
    <div class="games-section">
      <h2>Populares no momento</h2>
      <div class="trending-games-container">
        <button class="arrow-button" (click)="previousGame('trending')">&#8249;</button>
        <div class="game-list">
          <div *ngFor="let game of visibleTrendingGames" (click)="goToGameDetails(game.id)" class="game-item">
            <img class="game-img" [src]="game.cover.url" alt="{{ game.name }}" />
          </div>
        </div>
        <button class="arrow-button" (click)="nextGame('trending')">&#8250;</button>
      </div>
  
      <h2>Mais aguardados</h2>
      <div class="trending-games-container">
        <button class="arrow-button" (click)="previousGame('anticipated')">&#8249;</button>
        <div class="game-list">
          <div *ngFor="let game of visibleAnticipatedGames" (click)="goToGameDetails(game.id)" class="game-item">
            <img class="game-img" [src]="game.cover.url" alt="{{ game.name }}" />
          </div>
        </div>
        <button class="arrow-button" (click)="nextGame('anticipated')">&#8250;</button>
      </div>
    </div>
    <div class="games-section">
      <div *ngIf="isConsoleSelected(1)">
        <app-ps1-games></app-ps1-games>
      </div>
      <div *ngIf="isConsoleSelected(2)">
        <app-ps2-games></app-ps2-games>
      </div>
      <div *ngIf="isConsoleSelected(3)">
        <app-ps3-games></app-ps3-games>
      </div>
      <div *ngIf="isConsoleSelected(4)">
        <app-psp-games></app-psp-games>
      </div>
      <div *ngIf="isConsoleSelected(5)">
        <app-psvita-games></app-psvita-games>
      </div>
      <div *ngIf="isConsoleSelected(6)">
        <app-ps4-games></app-ps4-games>
      </div>
      <div *ngIf="isConsoleSelected(7)">
        <app-ps5-games></app-ps5-games>
      </div>
      <div *ngIf="isConsoleSelected(8)">
        <app-xbox-games></app-xbox-games>
      </div>
      <div *ngIf="isConsoleSelected(9)">
        <app-Xbox360-games></app-Xbox360-games>
      </div>
      <div *ngIf="isConsoleSelected(10)">
        <app-XboxOne-games></app-XboxOne-games>
      </div>
      <div *ngIf="isConsoleSelected(11)">
        <app-Xboxsx-games></app-Xboxsx-games>
      </div>
      <div *ngIf="isConsoleSelected(12)">
        <app-Nes-games></app-Nes-games>
      </div>
      <div *ngIf="isConsoleSelected(13)">
        <app-Snes-games></app-Snes-games>
      </div>
      <div *ngIf="isConsoleSelected(14)">
        <app-n64-games></app-n64-games>
      </div>
      <div *ngIf="isConsoleSelected(15)">
        <app-Gbc-games></app-Gbc-games>
      </div>
      <div *ngIf="isConsoleSelected(16)">
        <app-Gba-games></app-Gba-games>
      </div>
      <div *ngIf="isConsoleSelected(17)">
        <app-Gc-games></app-Gc-games>
      </div>
      <div *ngIf="isConsoleSelected(18)">
        <app-Nds-games></app-Nds-games>
      </div>
      <div *ngIf="isConsoleSelected(19)">
        <app-Wii-games></app-Wii-games>
      </div>
      <div *ngIf="isConsoleSelected(20)">
        <app-n3ds-games></app-n3ds-games>
      </div>
      <div *ngIf="isConsoleSelected(21)">
        <app-Wiiu-games></app-Wiiu-games>
      </div>
      <div *ngIf="isConsoleSelected(22)">
        <app-Switch-games></app-Switch-games>
      </div>
      <div *ngIf="isConsoleSelected(23)">
        <app-Pc-games></app-Pc-games>
      </div>
      <div *ngIf="isConsoleSelected(24)">
        <app-Mobile-games></app-Mobile-games>
      </div>
    </div>
  </ion-content>
</div>