.search{
  margin-left: 90%;
  font-size: 24px;
}

ion-menu-button, ion-icon{
  color: #00ffff;
}
button{
  background: none;
  font-size: 18px;
  font-family: "Libre Baskerville", serif;
  margin-top: 5%;
}
.profile{
  color: #00ffff;
}

.wishlist{
  color: #00ffff;
}

.search-menu{
  color: #00ffff;
}

.endsession{
  color: #00ffff;
}

.settings{
  color: #00ffff;
}

button ion-text{
  color: #00ffff;
}

.toolbar{
  --background: #002525;
}